$colorFuente:white;

$colorTextoRecuadro:aqua;

$colorFondoSeccionInicial:coral;

$colorFondoSeccionFinal:blue;

$colorFondoBody:black;

$colorFondoFooter:rgb(49, 43, 99);

$colorTextoTitulo:rgb(243, 199, 181);

$colorTextoEnlace:rgb(236, 199, 236);